@import "tailwindcss";
@import "@fontsource/jost/400.css";
@import "@fontsource/jost/500.css";
@import "@fontsource/jost/600.css";
@import "@fontsource/jost/700.css";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: "Jost", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans) !important;
}